body {
    margin: 20px;
    font-family: 'Arial', sans-serif;
    background: url('bg.gif') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: white;
    text-align: center;
}

p {
    padding: 20px;
}

img {
    border-radius: 10px;
    max-width: 80%;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    animation: fadeIn 3s ease-in;
    border-radius: 15px;
    height: 100%;
}

.message {
    font-size: 1.2em;
    text-align: justify;
}

.images  {
    animation: fadeIn 3s ease-in;
}

.signature {
    max-width: 100%;
    text-align: right;
    margin-top: -20px;
    font-size: 1.5em;
    animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
